*{
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: #eae7dc;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

header {
    width: auto;
    height: 80px;
}

h1 {
    text-align: center;
}

#container {
    width: auto;
    height: 660px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#calculator {
    height: 550px;
    width: 400px;
    margin: 20x;
    border: 3px solid #232b2b;
    background-color: #414a4c;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px;
}

#buttonBank {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 20px;
    height: 400px;
    width: 400px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.grid-item {
    margin: 0;
    width: 78px;
    height: 63px;
    border: 2px solid #232b2b;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    border-radius: 8px;
}

.spaceHolder {
    margin: 0;
    width: 66px;
    height: 44px;
    font-weight: bold;
    text-align: center;
}

.grid-item:hover {
    cursor: pointer;
    background-color: #c7c7c7;
}

.grid-item:active{
    background-color: #a0a0a0;
}

#footText {
    font-size: 16px;
    min-width: 20vw;
    max-width: 30vw;
}

footer {
    width: auto;
    height: 78px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #d8c3a5;
}

#promoBank {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20vw;
    max-width: 30vw;
}

.selfPromo {
    width: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
}